body {
  background-color: #e9e0b9;
  display: flex;
  flex-direction: column;
}

.header img {
  max-height: 100px;
}

.bs-menu h2 {
  color: rgb(247, 82, 33);
  text-shadow: 3px 3px 0px rgba(255, 2, 2, 0.2),
    2px 2px 0px rgba(255, 2, 2, 0.2);
}

.header {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  background-color: #e9e0b9;
}

.logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

.card {
  width: 100%;
  padding: 1%;
  margin-bottom: 3%;
  border-color: black;
  border-width: 1px;
  border-radius: 35%;
  background-color: #e9e0b9;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9e0b9;
  border-radius: 35%;
}
a {
  font-size: 25px;
  color: rgb(38, 212, 255);
}
