{% extends 'base.html' %}

{% block title %}
    <title>Хм, пароль менять хорошо)</title>
{% endblock %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/reg.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="card">
            <div class="card-body">
                <h1>Новый пароль</h1>
                <form method="post" id='form'>
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.password.label() }}
                        {{ form.password() }}
                    </div>
{#                    <div class="mb-3 form-check">#}
{#                        {{ form.remember_me.label() }}#}
{#                        {{ form.remember_me() }}#}
{#                    </div>#}
                    {{ form.submit() }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}