{% extends 'base.html' %}

{% block title %}
 <title>Дискуссия ведёт к истине</title>
{% endblock %}

{% block body %}

<div class="main">
    <div class="card">
        <div class="card-body">
            <h1 style="color: red; margin-bottom: 25px;">Здравствуйте друзья!</h1>
            <h3>Данный сайт сделан для обсуждения насущных проблем в обществе</h3>
            <h3>В наше время это очень полезно😉</h3>
            <h3>По работе с сайтом вам помогут разобраться ссылочки</h3>
            <a href="#reg">Регистрация</a>
            <a href="#сreat_1">Создание темы</a>
            <a href="#сreat_2">Создание дискусcии</a>
            <a href="#1vs2">Разница темы и дискуссии</a>
        </div>

    </div>
    <div class="card" id="reg">
        <div class="card-body">
            <h1 style="color: red; margin-bottom: 25px;">Регистрация</h1>
            <h3>Инфа по регистрации</h3>
            <p style='margin-bottom: 20px'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ratione
                voluptas impedit id facere<br>
                voluptatem dicta maiores ullam consequatur ea aperiam quaerat sit beatae sapiente obcaecati,<br>
                deserunt reprehenderit corporis! Ut corrupti sit expedita nulla. Soluta, quidem ullam? Corrupti<br>
                magni, sunt, culpa delectus recusandae non laudantium minus voluptates, iusto consequatur
                facere?<br>
            </p>
        </div>
    </div>
    <div class="card" id="сreat_1">
        <div class="card-body">
            <h1 style="color: red; margin-bottom: 25px;">Регистрация</h1>
            <h3>Инфа по регистрации</h3>
        </div>
    </div>
    <div class="card" id="сreat_2">
        <div class="card-body">
            <h1 style="color: red; margin-bottom: 25px;">Регистрация</h1>
            <h3>Инфа по регистрации</h3>
        </div>
    </div>
    <div class="card" id="1vs2">
        <div class="card-body">
            <h1 style="color: red; margin-bottom: 25px;">Регистрация</h1>
            <h3>Инфа по регистрации</h3>
        </div>
    </div>
</div>

{% endblock %}
