<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Дискуссия ведёт к истине</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
    <link href="../css/main.css" rel="stylesheet" />
</head>

<body>
    <div class="header">
        <div class="logo">
            <a href="main.html"><img src="..\img\logo.png" title="на главную страницу" alt="" /></a>
            <h1>Дискуссия ведёт к истине</h1>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="log.html" id='prof'>Профиль</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="log.html" id='prof'>Темы</a>
                <a class="navbar-brand" href="log.html" id='prof'>Дискусии</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Поиск темы(дискуссии)"
                                aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Поиск</button>
                        </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="main">
        <div class="card">
            <div class="card-body">
                <h1 style="color: red; margin-bottom: 25px;">Здравствуйте друзья!</h1>
                <h3>Данный сайт сделан для обсуждения насущных проблем в обществе</h3>
                <h3>В наше время это очень полезно😉</h3>
                <h3>По работе с сайтом вам помогут разобраться ссылочки</h3>
                <ul>
                    <li><a href="#reg">Регистрация</a></li>
                    <li><a href="#сreat_1">Создание темы</a></li>
                    <li><a href="#сreat_2">Создание дискусcии</a></li>
                    <li><a href="#1vs2">Разница темы и дискуссии</a></li>
                </ul>
            </div>
        </div>
        <div class="card" id="reg">
            <div class="card-body">
                <h1 style="color: red; margin-bottom: 25px;">Регистрация</h1>
                <h3>Инфа по регистрации</h3>
                <p style='margin-bottom: 20px'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ratione
                    voluptas impedit id facere<br>
                    voluptatem dicta maiores ullam consequatur ea aperiam quaerat sit beatae sapiente obcaecati,<br>
                    deserunt reprehenderit corporis! Ut corrupti sit expedita nulla. Soluta, quidem ullam? Corrupti<br>
                    magni, sunt, culpa delectus recusandae non laudantium minus voluptates, iusto consequatur
                    facere?<br>
                </p>
            </div>
        </div>
        <div class="card" id="сreat_1">
            <div class="card-body">
                <h1 style="color: red; margin-bottom: 25px;">Регистрация</h1>
                <h3>Инфа по регистрации</h3>
            </div>
        </div>
        <div class="card" id="сreat_2">
            <div class="card-body">
                <h1 style="color: red; margin-bottom: 25px;">Регистрация</h1>
                <h3>Инфа по регистрации</h3>
            </div>
        </div>
        <div class="card" id="1vs2">
            <div class="card-body">
                <h1 style="color: red; margin-bottom: 25px;">Регистрация</h1>
                <h3>Инфа по регистрации</h3>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
    </script>
</body>