{% extends 'base.html' %}

{% block title %}
    <title>Дискуссия ведёт к истине</title>
{% endblock %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/reg.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="{{ cat }}" role="alert">{{ msg }}</div>
    {% endfor %}
    <div class="main">
        <div class="card">
            <div class="card-body">
                <h1>Регистрация</h1>
                <a href="{{ url_for('login') }}">
                    Войти в существующий акк
                </a>
                <form method="post" id='form'>
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.username.label() }}
                        {{ form.username() }}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label() }}
                        {{ form.password() }}
                    </div>
                    <div class="mb-3 form-check">
                        {{ form.remember_me.label() }}
                        {{ form.remember_me() }}
                    </div>
                    {{ form.submit() }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}