{% extends 'base.html' %}

{% block title %}
    <title>Дискуссия ведёт к истине</title>
{% endblock %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/topics.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="search_topic">
            <div class="label">
                <h3>Поиск нужной темы</h3>
            </div>
            <form class="d-flex" method="post">
                <input class="form-control me-2" type="search" placeholder="Название темы" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Поискать</button>
            </form>
        </div>
        <div class="tape">
            {% for elem in topics %}
                <div class="topic"
                     style="  background: linear-gradient(to bottom right, rgb(255, 76, 76), rgb(255, 243, 72));">
                    <div class="topic_body">
                        <div class="block">
                            <h1>{{ elem['name'] }}</h1>
                            <p>{{ elem['info'] }}</p>
                            <div class="buttons">
                                <a class="btn btn-primary" href="{{ url_for('subject', topic_id=elem['int_id']) }}" role="button" style="min-width: 30%;">Перейти к
                                    теме</a>
                                {% if elem['flag_tag'] %}
                                    <a class="btn btn-primary" href="{{ url_for('del_post', number=elem['int_id']) }}" role="button" style="min-width: 30%;">Удалить тему</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
