{% extends 'base.html' %}

{% block title %}
    <title>Дискуссия ведёт к истине</title>
{% endblock %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/topic.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <div class="main">
        <div class="topic" style="background-color: rgb(141, 218, 211);">
            <h1>{{ topic_info['author'] }}</h1>
            <h1>{{ topic_info['question'] }}</h1>
            <p>{{ topic_info['explanation'] }}</p>
            <button class="btn btn-primary" type="submit" onclick="add_main_comment()">Оставить коментарий</button>
        </div>
        <div class="add_main_comment">
            <form method="post">
                <div>
                    <textarea name="main" placeholder="Ваш комментарий"></textarea>
                    <button class="btn btn-primary" type="submit">Отправить ответ</button>
                </div>
            </form>
        </div>
        <div class="main_comments">
            {% for comment in comments %}
                <div class="main_comment">
                    <div class="comment">
                        <div class="comment_head">
                            <h1>{{ comment['author'] }}</h1>
                        </div>
                        <div class="comment_body">
                            <p>{{ comment['message'] }}</p>
                        </div>
                        <div class="buttoms">
                            <button class="btn btn-primary" type="submit"
                                    onclick="add_comment('add_comments_{{ comment['id'] }}')">
                                Написать
                                ответ
                            </button>
                            <button class="btn btn-primary" type="submit"
                                    onclick="expand_comments('comments_{{ comment['id'] }}')">
                                Развернуть
                                ответы
                            </button>
                        </div>
                    </div>
                    <div class="add_comment" id='add_comments_{{ comment['id'] }}'>
                        <form method="post">
                            <div>
                                <textarea name="{{ comment['id'] }}" placeholder="Ваш комментарий"></textarea>
                                <button class="btn btn-primary" type="submit">Отправить ответ</button>
                            </div>
                        </form>
                    </div>
                    <div class="comments" id='comments_{{ comment['id'] }}'>
                        {% for i in comment['comments'] %}
                            <div class="comment">
                                <div class="comment_head">
                                    <h1>{{ i['author'] }}</h1>
                                </div>
                                <div class="comment_body">
                                    <p>{{ i['message'] }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        function expand_comments(id) {
            document.getElementById(id).hidden = !document.getElementById(id).hidden
        }

        function add_main_comment() {
            document.getElementsByClassName('add_main_comment')[0].hidden = !document.getElementsByClassName('add_main_comment')[0].hidden

        }

        function add_comment(id) {
            document.getElementById(id).hidden = !document.getElementById(id).hidden
        }

        let n = document.getElementsByClassName('comments');
        for (let i = 0; i < n.length; ++i) {
            n[i].hidden = true;
        }
        n = document.getElementsByClassName('add_comment');
        for (let i = 0; i < n.length; ++i) {
            n[i].hidden = true;
        }
        document.getElementsByClassName('add_main_comment')[0].hidden = true
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous">
    </script>
{% endblock %}